body > ul {
  list-style-type: none;
}

body > ul > li{
  padding: 15px;
  flex-direction: column;
  border: 1px solid rgba(0,0,0,0.25);
}

.responsive-image {
  border-radius: 20px;
  width: 100%;
  max-width: 500px;
  height: auto;
}

li:hover {
  background-color: rgba(220,220,220,0.40);
}

body > ul > button {
  width: 800px;
  max-width: calc(100% - 20px);
  margin: auto;
  position: center;
  border: 1px solid rgba(0,0,0,0.25);
}
body{
  width: 800px;
  max-width: calc(100% - 20px);
  margin: auto;
  padding: 80px;
  position: relative;

  border-radius: 30px;
}
