
.sidebar{
  overflow: auto;
  font-family: Verdana;
  position: fixed;
  width: 225px;
  height: 700px;
  left: 30px;
  max-height: calc(100% - 20px);
  margin: auto;
  margin-top: 25px;
  border-radius:15px;
  border: 5px solid snow;
  background: snow;
  color:black;
  top: 20px;
}
ul{
  font-size:1.2em;
  list-style-type:none;
}
.li {
  display:flex;
  flex-direction: column;
}
.element-li{
  color: #0069d9;
  position:relative;
  padding:7px;
}
.image-item{
  position:relative;
  top:10px;
}
