
<app-searchbar></app-searchbar>
<app-sidebar></app-sidebar>
<body>
<div class="flex-container">
  <img class="image-profile" src="{{user.profile_picture}}" width="250" height="250">
  <div class="describing">
    <h1><strong>{{user.username}}</strong></h1>
    <p>First Name: {{user.first_name}}</p>
    <p>Last Name: {{user.last_name}}</p>
    <button *ngIf="isOwner()" (click)="addPostPage()">
      add new post
    </button>
    <!--    <p>Phone Number: {{user.phone_number}}</p>-->
  </div>
</div>
<h3>Posts</h3>
<ul>
  <li *ngFor="let post of posts">
    <span class="profile-span">
        <img src = "{{post.profile_picture}}" class="avatar-image">
        <a>{{post.username}}</a>
    </span>

    <span (click)="showDetails(post.id)">
      <p>
        {{post.body}}
      </p>
      <div *ngFor="let media of post.medias">
        <img src="{{media.url}}" class="responsive-image">
      </div>
    </span>
    <button *ngIf="isOwner()" (click)="showEditPostPage(post.id)">
      edit
    </button>
  </li>
</ul>
</body>
