
<app-searchbar></app-searchbar>
<app-sidebar></app-sidebar>
<body>
<div class="flex-container">
  <img class="image-profile" src="../../assets/free-icon-profile-6917077.png" width="250" height="250">
  <div class="describing">
    <h1><strong>{{user.username}}</strong></h1>
    <p><strong>{{posts.length}} posts</strong>&nbsp;&nbsp;&nbsp;<strong>102 followers</strong>&nbsp;&nbsp;&nbsp;<strong>134 following</strong></p>
    <button *ngIf="isOwner()" class="follow" type="button"><strong>Follow</strong></button>
    <p>First Name: {{user.first_name}}</p>
    <p>Last Name: {{user.last_name}}</p>
<!--    <p>Phone Number: {{user.phone_number}}</p>-->
  </div>
</div>
<body>
<h3>Tweets</h3>
<ul>
  <li *ngFor="let post of posts">
    <span class="profile-span">
        <img src="assets/noavatar.png" class="avatar-image">
        <a>{{post.username}}</a>
    </span>

    <span (click)="showDetails(post.id)">
      <p>
        {{post.body}}
      </p>
      <div *ngFor="let media of post.medias">
        <img src="{{media.url}}" class="responsive-image">
      </div>
    </span>
    <button (click)="showEditPostPage(post.id)">
      edit
    </button>
  </li>
</ul>
</body>


</body>
