body{
  position:relative;
  width: 800px;
  max-width: calc(100% - 20px);
  margin: auto;
  padding:5px;
  top:30px;
}
.flex-container{
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  width:1000px;
  position:relative;
  left:100px;
  top: 10px;
  border-bottom: 1px solid black;
}
.describing{
  position: relative;
  flex-direction: column;
}
.follow{
  width:100px;
  height:30px;
  position:relative;
}
.user-posts{
  position:relative;
  padding:5px;
  left:90px;
}
.post-container {
  background-color: #F2F2F2;
  padding: 20px;
  margin-bottom: 10px;
}


/*body{*/

/*  width: 800px;*/
/*  max-width: calc(100% - 20px);*/
/*  margin: auto;*/
/*  padding: 50px;*/
/*  position: relative;*/
/*background: aqua;*/
/*  border-radius: 30px;*/
/*}*/

body > ul {
  list-style-type: none;
}

body > ul > li{
  padding: 15px;
  flex-direction: column;
  border: 1px solid rgba(0,0,0,0.25);
}

.responsive-image {
  border-radius: 20px;
  width: 100%;
  max-width: 500px;
  height: auto;
}

.avatar-image {
  float: left;
  margin-right: 10px;
  width: 100%;
  max-width: 50px;
  max-height: 60px;
}

.profile-span {
  display: flex;
  position: relative;
}

.profile-span > .avatar-image:hover {
  background-color: rgba(220,220,220,0.40);
}

p, a > {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

li:hover {
  background-color: rgba(220,220,220,0.40);
}

