body {
  position: fixed;
  left: 100px;
  z-index: 9;
  margin: 20px;
}
.search-panel{
  font-family: sans-serif;
  position: relative;
  width: 600px;
  height: 50px;
  left: 310px;
  top: 30px;

  background: #f2f2f2;
  border-color: black;
  border-radius: 30px;
}
input{
  font-size:1.1em;
  font-weight:bold;
}
.search-button{
  position: relative;
  left: 240px;
  top:27px;
}
.selector{
  position: relative;
  left: 270px;
  top:27px;
  width:50px;
}
