.search-panel{
  position: absolute;
  width: 1098.16px;
  height: 51.68px;
  left: 410.92px;
  top: 28.95px;

  background: #D9D9D9;
  border-radius: 30px;
}
.search-options{
  position: absolute;
  width: 51.44px;
  height: 51.68px;
  left: 1531.61px;
  top: 28.95px;

  background: #D9D9D9;
}
