<app-searchbar></app-searchbar>
<app-sidebar></app-sidebar>
<body>
<h3>What’s happening</h3>
<ul>
  <li *ngFor="let post of posts">
    <span class="profile-span">
        <img src="assets/noavatar.png" class="avatar-image">
        <a>{{post.username}}</a>
    </span>

    <span (click)="showDetails(post.id)">
      <p>
        {{post.body}}
      </p>
      <div *ngFor="let media of post.medias">
        <img src="{{media.url}}" class="responsive-image">
      </div>
    </span>
  </li>
</ul>
</body>
