<body>
  <h3>settings page</h3>
  <div class="flex-container">
    <form #gfgform = "ngForm">
      <label> Username:</label><br>
      <input type="text" name="username" ngModel placeholder="{{this.user.username}}"><br>
      <label> First name:</label><br>
      <input type="text" name="first_name" ngModel placeholder="{{this.user.first_name}}"><br>
      <label> Last name:</label><br>
      <input type="text" name="last_name" ngModel placeholder="{{this.user.last_name}}"><br>
      <label> Password: </label><br>
      <input type="text" name="password" ngModel><br>
      <label> Phone Number:</label><br>
      <input type="text" name="phone_number" ngModel placeholder="{{this.user.phone_number}}"><br>
      <button [formAction]="onSubmit(gfgform)">Submit</button>
    </form>
    <form #aaaa = "ngForm">
      <img src="assets/noavatar.png" width="200"> <br>
      <label> Profile Picture image address: </label> <br>
      <input type="url" name="profile_picture" ngModel placeholder="{{this.user.profile_picture}}"> <br>
      <button [formAction]="onSubmit(aaaa)"> change profile picture</button>
    </form>
  </div>
</body>
