body {
  background-color: #f2f2f2;
  font-family: Verdana;
  position: relative;
  top: 20px;
  left: 500px;
  width: 500px;
  margin: 0;
  padding: 0;
  height:600px;
  border-radius: 10px;
}
h1 {
  color: #0069d9;
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
}
.container{
  display: flex;
  flex-direction: row;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
  font-size: 18px;
  margin-bottom: 10px;
}

form input{
  position: relative;
  padding : 5px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
}
button {
  width: 101%;
  padding: 10px;
  background-color: #f2f2f2;
  color: #0069d9;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.avatar{
  position: relative;
  left:50px;
}

button:hover {
  background-color: snow;
  border: 1px solid #0069d9;
}

input {
  border-color: #0069d9;
}
