<ng-container *ngIf="!logged">
  <div class="button-is-login">
    <button class = "button-is-login"type="button" (click)="toggleForm()">{{ isLogin ? 'Sign Up' : 'Login' }}</button>
  </div>
  <div class="login-form" *ngIf="isLogin">
      <label>Username:</label>
      <input type="text" [(ngModel)]="username">
      <label>Password:</label>
      <input type="password" [(ngModel)]="password">
    <button (click)="login()">Login</button>
  </div>
  <div class="signup-form" *ngIf="!isLogin">
      <label>Username:</label>
      <input type="text" [(ngModel)]="username">
      <label>Password:</label>
      <input type="text" [(ngModel)]="password">
      <label>Email:</label>
      <input type="email" [(ngModel)]="email">
    <button type="submit" (click)="pushedRegister()">Register</button>
    <form  *ngIf="want_to_register" (ngSubmit)="verify()">
      <label>Verification code</label>
      <input type="text" name="code" [(ngModel)]="code">
      <button type="submit">Confirm</button>
    </form>
  </div>
</ng-container>


<ng-container *ngIf="logged">
  <button (click)="logout()">Log out</button>
  <app-sidebar></app-sidebar>
  <app-searchbar></app-searchbar>
</ng-container>
<router-outlet>
</router-outlet>
